In [1]:
!pip install wget
!pip install googletrans==3.1.a0

Requirement already satisfied: wget in /usr/local/lib/python3.6/dist-packages (3.2)
Requirement already satisfied: googletrans==3.1.a0 in /usr/local/lib/python3.6/dist-packages (3.1.0a0)
Requirement already satisfied: httpx==0.13.3 in /usr/local/lib/python3.6/dist-packages (from googletrans==3.1.a0) (0.13.3)
Requirement already satisfied: chardet==3.* in /usr/local/lib/python3.6/dist-packages (from httpx==0.13.3->googletrans==3.1.a0) (3.0.4)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from httpx==0.13.3->googletrans==3.1.a0) (2020.12.5)
Requirement already satisfied: rfc3986<2,>=1.3 in /usr/local/lib/python3.6/dist-packages (from httpx==0.13.3->googletrans==3.1.a0) (1.4.0)
Requirement already satisfied: sniffio in /usr/local/lib/python3.6/dist-packages (from httpx==0.13.3->googletrans==3.1.a0) (1.2.0)
Requirement already satisfied: hstspreload in /usr/local/lib/python3.6/dist-packages (from httpx==0.13.3->googletrans==3.1.a0) (2020.11.21)
Requirement already satisfied: httpcore==0.9.* in /usr/local/lib/python3.6/dist-packages (from httpx==0.13.3->googletrans==3.1.a0) (0.9.1)
Requirement already satisfied: idna==2.* in /usr/local/lib/python3.6/dist-packages (from httpx==0.13.3->googletrans==3.1.a0) (2.10)
Requirement already satisfied: contextvars>=2.1; python_version < "3.7" in /usr/local/lib/python3.6/dist-packages (from sniffio->httpx==0.13.3->googletrans==3.1.a0) (2.4)
Requirement already satisfied: h2==3.* in /usr/local/lib/python3.6/dist-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.a0) (3.2.0)
Requirement already satisfied: h11<0.10,>=0.8 in /usr/local/lib/python3.6/dist-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.a0) (0.9.0)
Requirement already satisfied: immutables>=0.9 in /usr/local/lib/python3.6/dist-packages (from contextvars>=2.1; python_version < "3.7"->sniffio->httpx==0.13.3->googletrans==3.1.a0) (0.14)
Requirement already satisfied: hpack<4,>=3.0 in /usr/local/lib/python3.6/dist-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.a0) (3.0.0)
Requirement already satisfied: hyperframe<6,>=5.2.0 in /usr/local/lib/python3.6/dist-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.a0) (5.2.0)

In [2]:
import wget
import random
import googletrans
from googletrans import Translator

In [3]:
wget.download("http://nlp.stanford.edu/~socherr/stanfordSentimentTreebank.zip", 'stanfordSentimentTreebank.zip')

'stanfordSentimentTreebank (3).zip'

In [4]:
import zipfile

In [5]:

with zipfile.ZipFile("stanfordSentimentTreebank.zip", 'r') as zip_ref:
    zip_ref.extractall("stanfordSentimentTreebank")

In [6]:
ls

 sample_data/                        'stanfordSentimentTreebank (2).zip'
 stanfordSentimentTreebank/          'stanfordSentimentTreebank (3).zip'
'stanfordSentimentTreebank (1).zip'   stanfordSentimentTreebank.zip

In [7]:
cd stanfordSentimentTreebank

/content/stanfordSentimentTreebank

In [8]:
ls

__MACOSX/  stanfordSentimentTreebank/

In [9]:
cd stanfordSentimentTreebank

/content/stanfordSentimentTreebank/stanfordSentimentTreebank

In [10]:
ls

datasetSentences.txt  original_rt_snippets.txt  SOStr.txt
datasetSplit.txt      README.txt                STree.txt
dictionary.txt        sentiment_labels.txt      tokenizer.pkl

In [11]:
import pandas as pd

In [12]:
sentiment_labels = pd.read_csv("sentiment_labels.txt")

In [13]:
sentiment_labels.head()

  phrase ids|sentiment values
0                       0|0.5
1                       1|0.5
2                   2|0.44444
3                       3|0.5
4                   4|0.42708

In [14]:
sentiment_labels = pd.read_csv("sentiment_labels.txt",sep= "|")
sentiment_labels.head()

   phrase ids  sentiment values
0           0           0.50000
1           1           0.50000
2           2           0.44444
3           3           0.50000
4           4           0.42708

In [15]:
list(sentiment_labels)

['phrase ids', 'sentiment values']

In [16]:
sentence_ids = pd.read_csv(("datasetSentences.txt"), sep="\t")
sentence_ids.head()

   sentence_index                                           sentence
0               1  The Rock is destined to be the 21st Century 's...
1               2  The gorgeously elaborate continuation of `` Th...
2               3                     Effective but too-tepid biopic
3               4  If you sometimes like to go to the movies to h...
4               5  Emerges as something rare , an issue movie tha...

In [17]:
dictionary = pd.read_csv( "dictionary.txt", sep="|", names=['phrase', 'phrase ids'])
dictionary.head()

        phrase  phrase ids
0            !           0
1          ! '       22935
2         ! ''       18235
3       ! Alas      179257
4  ! Brilliant       22936

In [18]:
train_test_split = pd.read_csv("datasetSplit.txt")
train_test_split.head()

   sentence_index  splitset_label
0               1               1
1               2               1
2               3               2
3               4               2
4               5               2

In [19]:
print(sentiment_labels.shape,"sentiment_labels")
print(dictionary.shape,"dictionary")
print(train_test_split.shape,"train_test_split")
print(sentence_ids.shape,"sentence_ids")
# checking dimensions for merging

(239232, 2) sentiment_labels
(239232, 2) dictionary
(11855, 2) train_test_split
(11855, 2) sentence_ids

In [20]:
sentiment_labels.info() #no null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239232 entries, 0 to 239231
Data columns (total 2 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   phrase ids        239232 non-null  int64
 1   sentiment values  239232 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 3.7 MB

In [21]:
dictionary.info() ##no null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239232 entries, 0 to 239231
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   phrase      239232 non-null  object
 1   phrase ids  239232 non-null  int64
dtypes: int64(1), object(1)
memory usage: 3.7+ MB

In [22]:
train_test_split.info() ##no null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11855 entries, 0 to 11854
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sentence_index  11855 non-null  int64
 1   splitset_label  11855 non-null  int64
dtypes: int64(2)
memory usage: 185.4 KB

In [23]:
sentence_ids.info()#no null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11855 entries, 0 to 11854
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sentence_index  11855 non-null  int64
 1   sentence        11855 non-null  object
dtypes: int64(1), object(1)
memory usage: 185.4+ KB

In [24]:
sentiment_labels.columns,dictionary.columns

(Index(['phrase ids', 'sentiment values'], dtype='object'),
 Index(['phrase', 'phrase ids'], dtype='object'))

In [25]:
sentiment_labels.nunique(),dictionary.nunique()  # shape and nuniques of phrase id are same in both datasets

(phrase ids          239232
 sentiment values       142
 dtype: int64, phrase        239232
 phrase ids    239232
 dtype: int64)

In [26]:
# we go merging

In [27]:
df = pd.merge(left = sentiment_labels , right = dictionary, how ='inner', on="phrase ids" )

In [28]:
df.info() # no NaN's

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239232 entries, 0 to 239231
Data columns (total 3 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   phrase ids        239232 non-null  int64
 1   sentiment values  239232 non-null  float64
 2   phrase            239232 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 7.3+ MB

In [29]:
df.head()

   phrase ids  sentiment values               phrase
0           0           0.50000                    !
1           1           0.50000                    '
2           2           0.44444                  ' (
3           3           0.50000    ' ( the cockettes
4           4           0.42708  ' ( the cockettes )

In [30]:
# AS mention in readfile of download link for very negative, negative, neutral, positive, very positive, respectively.
#[0, 0.2], (0.2, 0.4], (0.4, 0.6], (0.6, 0.8], (0.8, 1.0]

In [31]:
list(df)

['phrase ids', 'sentiment values', 'phrase']

In [32]:
df.tail()

        phrase ids  sentiment values                                    phrase
239227      239227           0.36111           your standard Hollywood bio-pic
239228      239228           0.38889  your typical ` fish out of water ' story
239229      239229           0.33333                                    zero .
239230      239230           0.88889                         zippy jazzy score
239231      239231           0.50000                                       UNK

In [33]:
df.head()

   phrase ids  sentiment values               phrase
0           0           0.50000                    !
1           1           0.50000                    '
2           2           0.44444                  ' (
3           3           0.50000    ' ( the cockettes
4           4           0.42708  ' ( the cockettes )

In [34]:
df1 = df.loc[(df['sentiment values']>=0.0) & (df['sentiment values']<=0.2)]
df1["sentimentlabels"] = 0
df1.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     phrase ids  ...  sentimentlabels
40           40  ...                0
58           58  ...                0
104         104  ...                0
105         105  ...                0
107         107  ...                0

[5 rows x 4 columns]

In [35]:
df2 = df.loc[(df['sentiment values']>0.2) & (df['sentiment values']<=0.4)]
df2["sentimentlabels"] = 1
df2.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    phrase ids  ...  sentimentlabels
5            5  ...                1
8            8  ...                1
12          12  ...                1
22          22  ...                1
23          23  ...                1

[5 rows x 4 columns]

In [36]:
df3 = df.loc[(df['sentiment values']>0.4) & (df['sentiment values']<=0.6)]
df3["sentimentlabels"] = 2
df3.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   phrase ids  sentiment values               phrase  sentimentlabels
0           0           0.50000                    !                2
1           1           0.50000                    '                2
2           2           0.44444                  ' (                2
3           3           0.50000    ' ( the cockettes                2
4           4           0.42708  ' ( the cockettes )                2

In [37]:
df4 = df.loc[(df['sentiment values']>0.6) & (df['sentiment values']<=0.8)]
df4["sentimentlabels"] = 3
df4.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    phrase ids  ...  sentimentlabels
16          16  ...                3
19          19  ...                3
21          21  ...                3
24          24  ...                3
25          25  ...                3

[5 rows x 4 columns]

In [38]:
df5 = df.loc[(df['sentiment values']>0.8) & (df['sentiment values']<=1)]
df5["sentimentlabels"] = 4
df5.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     phrase ids  ...  sentimentlabels
13           13  ...                4
14           14  ...                4
15           15  ...                4
113         113  ...                4
119         119  ...                4

[5 rows x 4 columns]

In [39]:
df = pd.concat([df1,df2,df3,df4,df5])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239232 entries, 40 to 239230
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   phrase ids        239232 non-null  int64
 1   sentiment values  239232 non-null  float64
 2   phrase            239232 non-null  object
 3   sentimentlabels   239232 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 9.1+ MB

In [40]:
df.head()

     phrase ids  ...  sentimentlabels
40           40  ...                0
58           58  ...                0
104         104  ...                0
105         105  ...                0
107         107  ...                0

[5 rows x 4 columns]

In [41]:
df["sentimentlabels"].value_counts()

2    119449
3     50148
1     43028
4     15255
0     11352
Name: sentimentlabels, dtype: int64

In [42]:
list(df)

['phrase ids', 'sentiment values', 'phrase', 'sentimentlabels']

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239232 entries, 40 to 239230
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   phrase ids        239232 non-null  int64
 1   sentiment values  239232 non-null  float64
 2   phrase            239232 non-null  object
 3   sentimentlabels   239232 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 9.1+ MB

In [44]:
list(sentence_ids)

['sentence_index', 'sentence']

In [45]:
df = df.merge(sentence_ids,how="inner",left_on="phrase",right_on="sentence") # Using Use "datasetSentences.txt" and "sentiment_labels.txt"

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11286 entries, 0 to 11285
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   phrase ids        11286 non-null  int64
 1   sentiment values  11286 non-null  float64
 2   phrase            11286 non-null  object
 3   sentimentlabels   11286 non-null  int64
 4   sentence_index    11286 non-null  int64
 5   sentence          11286 non-null  object
dtypes: float64(1), int64(3), object(2)
memory usage: 617.2+ KB

In [47]:
df = df[["sentence","sentimentlabels"]]

In [48]:
df.shape

(11286, 2)

In [49]:
df.head()

                                            sentence  sentimentlabels
0              ... a bland murder-on-campus yawner .                0
1  ordinary melodrama that is heavy on religious ...                0
2  Watching Haneke 's film is , aptly enough , a ...                0
3  ... a haunting vision , with images that seem ...                0
4  But in its child-centered , claustrophobic con...                0

In [50]:
df["sentimentlabels"].value_counts()

1    2971
3    2966
2    2144
4    1773
0    1432
Name: sentimentlabels, dtype: int64

In [51]:
import random
def swap_word(new_words):
    
    random_idx_1 = random.randint(0, len(new_words)-1)
    random_idx_2 = random_idx_1
    counter = 0
    
    while random_idx_2 == random_idx_1:
        random_idx_2 = random.randint(0, len(new_words)-1)
        counter += 1
        
        if counter > 3:
            return new_words
    
    new_words[random_idx_1], new_words[random_idx_2] = new_words[random_idx_2], new_words[random_idx_1] 
    return new_words

def random_swap(words, n):
    
    words = words.split()
    new_words = words.copy()
    
    for _ in range(n):
        new_words = swap_word(new_words)
        
    sentence = ' '.join(new_words)
    
    return sentence

In [52]:
df.shape

(11286, 2)

In [53]:
rs=[]
for i in df.index:
  new = random_swap(df["sentence"][i],10)
  rs.append([new,df["sentimentlabels"][i]])

In [54]:
df_rs = pd.DataFrame(rs)
df_rs.rename(columns = {0: 'sentence', 1: 'sentimentlabels'}, inplace = True)
df_rs.head()

                                            sentence  sentimentlabels
0              yawner murder-on-campus . ... a bland                0
1  substance wafer-thin ordinary is that but dram...                0
2  Haneke , Watching 's punishment aptly film eno...                0
3  disturbing a like . haunting with that more im...                0
4  , child-centered its . as claustrophobic can -...                0

In [55]:
df_new = pd.concat([df,df_rs],axis=0)
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22572 entries, 0 to 11285
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sentence         22572 non-null  object
 1   sentimentlabels  22572 non-null  int64
dtypes: int64(1), object(1)
memory usage: 529.0+ KB

In [56]:
def random_deletion(words, p):

    words = words.split()
    
    #obviously, if there's only one word, don't delete it
    if len(words) == 1:
        return words

    #randomly delete words with probability p
    new_words = []
    for word in words:
        r = random.uniform(0, 1)
        if r > p:
            new_words.append(word)

    #if you end up deleting all words, just return a random word
    if len(new_words) == 0:
        rand_int = random.randint(0, len(words)-1)
        return [words[rand_int]]

    sentence = ' '.join(new_words)
    
    return sentence

In [57]:
len(df_new)

22572

In [58]:
random_deletion("hello world iam in the king are",0.1)

'hello world in the king are'

In [59]:
df_new["sentence"][0]

0    ... a bland murder-on-campus yawner .
0    yawner murder-on-campus . ... a bland
Name: sentence, dtype: object

In [60]:
df_new.reset_index(level=None, drop=True, inplace=True)

In [61]:
rd=[]
for i in df_new.index:
  new = random_deletion(df_new["sentence"][i],0.2)
  rd.append([new,df_new["sentimentlabels"][i]])

In [62]:
df_rd = pd.DataFrame(rs)
df_rd.rename(columns = {0: 'sentence', 1: 'sentimentlabels'}, inplace = True)
df_rd.head()

                                            sentence  sentimentlabels
0              yawner murder-on-campus . ... a bland                0
1  substance wafer-thin ordinary is that but dram...                0
2  Haneke , Watching 's punishment aptly film eno...                0
3  disturbing a like . haunting with that more im...                0
4  , child-centered its . as claustrophobic can -...                0

In [63]:
df = pd.concat([df_new,df_rd])
df.reset_index(level=None, drop=True, inplace=True)

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33858 entries, 0 to 33857
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sentence         33858 non-null  object
 1   sentimentlabels  33858 non-null  int64
dtypes: int64(1), object(1)
memory usage: 529.2+ KB

In [65]:
# def trans(sentence):
#   translator = Translator()
#   available_langs = list(googletrans.LANGUAGES.keys()) 
#   trans_lang = random.choice(available_langs) 
#   translations = translator.translate(sentence, dest=trans_lang) 
#   t_text = [t.text for t in translations]
#   translations_en_random = translator.translate(t_text, src=trans_lang, dest='en') 
#   en_text = [t.text for t in translations_en_random]
#   return en_text

In [66]:
# l=[]
# for i in df.index:
#   new = trans([df["sentence"][i]])[0]
#   l.append([new,df["sentimentlabels"][i]])

In [67]:
# Import Library
import random
import torch, torchtext
from torchtext import data 

# Manual Seed
SEED = 43
torch.manual_seed(SEED)

In [68]:
Tweet = data.Field(sequential = True, tokenize = 'spacy', batch_first =True, include_lengths=True)
Label = data.LabelField(tokenize ='spacy', is_target=True, batch_first =True, sequential =False)

In [69]:
fields = [('tweets', Tweet),('labels',Label)]

In [70]:
df["sentimentlabels"][0]

0

In [71]:
example = [data.Example.fromlist([df["sentence"][i],df["sentimentlabels"][i]], fields) for i in df.index]

In [72]:
standfordDataset = data.Dataset(example, fields)

In [73]:
(train, valid) = standfordDataset.split(split_ratio=[0.85, 0.15], random_state=random.seed(SEED))

In [74]:
(len(train), len(valid))

(28779, 5079)

In [75]:
vars(train.examples[10])

{'labels': 2,
 'tweets': ["'s",
  'one',
  'Wild',
  'had',
  'been',
  'tweaked',
  'up',
  'a',
  'notch',
  'Deuces',
  'would',
  'to',
  'become',
  'a',
  'of',
  'camp',
  'have',
  'it',
  'adventure',
  'those',
  'that',
  'starts',
  'If',
  'so',
  'it',
  'bad',
  'movies',
  ',',
  'become',
  'good',
  '.']}

In [76]:
Tweet.build_vocab(train)
Label.build_vocab(train)

In [77]:
print('Size of input vocab : ', len(Tweet.vocab))
print('Size of label vocab : ', len(Label.vocab))
print('Top 10 words appreared repeatedly :', list(Tweet.vocab.freqs.most_common(10)))
print('Labels : ', Label.vocab.stoi)

Size of input vocab :  19438
Size of label vocab :  5
Top 10 words appreared repeatedly : [('.', 27094), (',', 23863), ('the', 20317), ('and', 14821), ('a', 14703), ('of', 14693), ('to', 10220), ('-', 9241), ('is', 8567), ("'s", 8404)]
Labels :  defaultdict(<function _default_unk_index at 0x7f6ca7cd7488>, {1: 0, 3: 1, 2: 2, 4: 3, 0: 4})

In [78]:
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

In [79]:
device

device(type='cuda')

In [80]:
train_iterator, valid_iterator = data.BucketIterator.splits((train, valid), batch_size = 32, 
                                                            sort_key = lambda x: len(x.tweets),
                                                            sort_within_batch=True, device = device)

In [81]:
import os, pickle
with open('tokenizer.pkl', 'wb') as tokens: 
    pickle.dump(Tweet.vocab.stoi, tokens)

In [82]:
import torch.nn as nn
import torch.nn.functional as F

class classifier(nn.Module):
    
    # Define all the layers used in model
    def __init__(self, vocab_size, embedding_dim, hidden_dim, output_dim, n_layers, dropout):
        
        super().__init__()          
        
        # Embedding layer
        self.embedding = nn.Embedding(vocab_size, embedding_dim)
        
        # LSTM layer
        self.encoder = nn.LSTM(embedding_dim, 
                           hidden_dim, 
                           num_layers=n_layers, 
                           dropout=dropout,
                           batch_first=True)
        # try using nn.GRU or nn.RNN here and compare their performances
        # try bidirectional and compare their performances
        
        # Dense layer
        self.fc = nn.Linear(hidden_dim, output_dim)
        
    def forward(self, text, text_lengths):
        
        # text = [batch size, sent_length]
        embedded = self.embedding(text)
        # embedded = [batch size, sent_len, emb dim]
      
        # packed sequence
        packed_embedded = nn.utils.rnn.pack_padded_sequence(embedded, text_lengths.cpu(), batch_first=True)
        
        packed_output, (hidden, cell) = self.encoder(packed_embedded)
        #hidden = [batch size, num layers * num directions,hid dim]
        #cell = [batch size, num layers * num directions,hid dim]
    
        # Hidden = [batch size, hid dim * num directions]
        dense_outputs = self.fc(hidden)   
        
        # Final activation function softmax
        output = F.softmax(dense_outputs[0], dim=1)
            
        return output

In [83]:
# Define hyperparameters
size_of_vocab = len(Tweet.vocab)
embedding_dim = 300
num_hidden_nodes = 100
num_output_nodes = 5
num_layers = 2
dropout = 0.2

# Instantiate the model
model = classifier(size_of_vocab, embedding_dim, num_hidden_nodes, num_output_nodes, num_layers, dropout = dropout)

In [84]:
print(model)

#No. of trianable parameters
def count_parameters(model):
    return sum(p.numel() for p in model.parameters() if p.requires_grad)
    
print(f'The model has {count_parameters(model):,} trainable parameters')

classifier(
  (embedding): Embedding(19438, 300)
  (encoder): LSTM(300, 100, num_layers=2, batch_first=True, dropout=0.2)
  (fc): Linear(in_features=100, out_features=5, bias=True)
)
The model has 6,073,505 trainable parameters

In [85]:
import torch.optim as optim

# define optimizer and loss
optimizer = optim.Adam(model.parameters(), lr=2e-4)
criterion = nn.CrossEntropyLoss()

# define metric
def binary_accuracy(preds, y):
    #round predictions to the closest integer
    _, predictions = torch.max(preds, 1)
    
    correct = (predictions == y).float() 
    acc = correct.sum() / len(correct)
    return acc
    
# push to cuda if available
model = model.to(device)
criterion = criterion.to(device)

In [86]:
def train(model, iterator, optimizer, criterion):
    
    # initialize every epoch 
    epoch_loss = 0
    epoch_acc = 0
    
    # set the model in training phase
    model.train()  
    
    for batch in iterator:
        
        # resets the gradients after every batch
        optimizer.zero_grad()   
        
        # retrieve text and no. of words
        tweet, tweet_lengths = batch.tweets   
        
        # convert to 1D tensor
        predictions = model(tweet, tweet_lengths).squeeze()  
        
        # compute the loss
        loss = criterion(predictions, batch.labels)        
        
        # compute the binary accuracy
        acc = binary_accuracy(predictions, batch.labels)   
        
        # backpropage the loss and compute the gradients
        loss.backward()       
        
        # update the weights
        optimizer.step()      
        
        # loss and accuracy
        epoch_loss += loss.item()  
        epoch_acc += acc.item()    
        
    return epoch_loss / len(iterator), epoch_acc / len(iterator)

In [87]:
def evaluate(model, iterator, criterion):
    
    # initialize every epoch
    epoch_loss = 0
    epoch_acc = 0

    # deactivating dropout layers
    model.eval()
    
    # deactivates autograd
    with torch.no_grad():
    
        for batch in iterator:
        
            # retrieve text and no. of words
            tweet, tweet_lengths = batch.tweets
            
            # convert to 1d tensor
            predictions = model(tweet, tweet_lengths).squeeze()
            
            # compute loss and accuracy
            loss = criterion(predictions, batch.labels)
            acc = binary_accuracy(predictions, batch.labels)
            
            # keep track of loss and accuracy
            epoch_loss += loss.item()
            epoch_acc += acc.item()
        
    return epoch_loss / len(iterator), epoch_acc / len(iterator)

In [88]:
N_EPOCHS = 10
best_valid_loss = float('inf')

for epoch in range(N_EPOCHS):
     
    # train the model
    train_loss, train_acc = train(model, train_iterator, optimizer, criterion)
    
    # evaluate the model
    valid_loss, valid_acc = evaluate(model, valid_iterator, criterion)
    
    # save the best model
    if valid_loss < best_valid_loss:
        best_valid_loss = valid_loss
        torch.save(model.state_dict(), 'saved_weights.pt')
    
    print(f'\tTrain Loss: {train_loss:.3f} | Train Acc: {train_acc*100:.2f}%')
    print(f'\t Val. Loss: {valid_loss:.3f} |  Val. Acc: {valid_acc*100:.2f}% \n')

	Train Loss: 1.569 | Train Acc: 30.53%
	 Val. Loss: 1.525 |  Val. Acc: 36.16%

	Train Loss: 1.491 | Train Acc: 40.21%
	 Val. Loss: 1.469 |  Val. Acc: 42.04%

	Train Loss: 1.420 | Train Acc: 47.98%
	 Val. Loss: 1.424 |  Val. Acc: 47.41%

	Train Loss: 1.351 | Train Acc: 56.75%
	 Val. Loss: 1.387 |  Val. Acc: 51.83%

	Train Loss: 1.285 | Train Acc: 63.91%
	 Val. Loss: 1.342 |  Val. Acc: 56.43%

	Train Loss: 1.236 | Train Acc: 68.55%
	 Val. Loss: 1.323 |  Val. Acc: 58.43%

	Train Loss: 1.196 | Train Acc: 72.24%
	 Val. Loss: 1.300 |  Val. Acc: 60.27%

	Train Loss: 1.171 | Train Acc: 74.34%
	 Val. Loss: 1.279 |  Val. Acc: 62.63%

	Train Loss: 1.154 | Train Acc: 75.73%
	 Val. Loss: 1.267 |  Val. Acc: 63.74%

	Train Loss: 1.138 | Train Acc: 77.37%
	 Val. Loss: 1.251 |  Val. Acc: 65.91%